/* Main CSS for the layout of our Website */
*{
    font-family: Mont, Mont, Mont, Mont, Mont;
}

@font-face {
    font-family: Mont;
    src: url(Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: MontBold;
    src: url(Mont-HeavyDEMO.ttf);
}

.homeblurbs {
    background-color: #B9CAC9;
    padding: 15px;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #D0DDDB;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #A9B9DB;
    width: 100%;
    position: fixed;
    top: 0;
    flex-grow: 1;
    padding: 30px;
    text-align: center;
}

.headertext{
    font-family: MontBold;
    flex-grow: 1;
    text-align: right;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    color: #4E6979;
}

.content {
    flex-grow: 1;
    padding-top: 150px;
    margin: 3%;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #677449;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

h1 {
    color: #253C33;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

p {
    color: black;
    font-family: Mont;
    font-size: 100%;
    margin: 0;;
}

.link {
    color: #253C33;
}

.link:hover {
    color: #B5C09B;
}

/* CSS for Assignments */
.assignmentgrid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #B9CAC9;
    color: #444;
    /* padding: 5px; */
    max-width:  800px;
    border: 3px solid #4E6979;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.cellheader {
    flex: 1;
    background-color: #A9B9DB;
    padding: 10px;
    text-align: center;
    border-right: 1px solid black;
}

.cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid black;
}

/*CSS for Course Team*/
.courseteamgrid{
    display: grid;
    justify-content: space-evenly;
    text-align: left;
    grid-auto-flow: column;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr; 
}

.image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: column wrap;*/
    justify-content: space-around;
    order: 3;
}

.text_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 12em;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/*CSS for Piazza */
.iframe_container {
    width: 100vw; 
    max-width: 100%; 
    display: flex;
    justify-content: center; 
}

.iframe_container iframe {
    width: 90%;
    height: 75vh; 
    display: block; 
}

/*CSS for Syllabus */
.courseschedule {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 0.5fr 3fr;    
}

.coursegrading {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 3fr;  
}

/*CSS for Anon. Feedback*/
.form_elm{
    font-size: 16px;
    padding: 10px 16px 10px 16px;
    margin: 15px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 100px;
    resize: both;
    text-align: left;
    text-align: top;
}

textarea{
    border-radius: 10px;
    border: 1px solid #ccc;
}

form {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.btn {
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    color: #253C33;
    border: none;
    cursor: pointer;
    background-color: #C4A645;
    padding: 10px 16px;
}
.btn:hover {
    background-color: #748DC5;
    }

.btn-group {
    text-align: center;
}

/* Styling the Tutorial content  */
.Tutorials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #cf4d99;
    color: #444;
    /* padding: 5px; */
    max-width:  800px;
    border: 3px solid #4E6979;
  }
  
  /* The column titles */
  .column-title {
    background-color: #4E6979;
    color: #fff;
    /* border-radius: 7px; */
    padding: 20px;
    font-size: 150%;
    border: 3px solid #88A5A3;  }

    /* The items in each column */
  .section {
    background-color: #C5D0E7;
    color: #253C33;
    padding: 10px;
    font-size: 100%;
    border: 3px solid #89A9A6;

  }

  .row {
    display: contents;
}

/* styling the calendar */
 ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;

	li {
		display: flex;
		width: 6rem;
		height: 6rem;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 5px 32px 0 rgba(214, 89, 75, 0.37);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);

		time {
			font-size: 1.5rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
		}
	}
	.today {
		time {
			font-weight: 800;
		}
		background: #ffffff70;
	}
}

.dropbutton{
    background-color:#C4A645;
    color: #253C33;
    margin: 0.25rem;
    padding: 10px;
    font-size: 15px; 
    border-radius: 15px;
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
    height: auto;
    top: 50%;
    width: 100%; 
    text-align: center;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding-right: 5%;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #88A5A3;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(250, 51, 180, 0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #253C33;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #748DC5;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

section{
    display: block
}

/*Light and Dark mode*/
/*Dark mode: ->light mode is the default*/
@media (prefers-color-scheme: dark) {
    /* Main CSS for the layout of our Website */
    body{
        display: flex;
        flex-direction: column;
        background-color: #EDFBFC;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        justify-content: flex-start;
        align-items: center;
    }

    .header {
        background-color: #7BB1CC;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 40px;
        height: 60px;
        text-align: center;
    }

    .footer {
        background-color: #7BB1CC;
        width: 100%;
        bottom: 0;
    }

    h1 {
        color: #254E70;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
    }

    p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
    }

    /*CSS for Anon. Feedback*/
    .form_elm{
        font-size: 16px;
        padding: 10px 16px 10px 16px;
        margin: 15px 0 15px 0;
        width: 100%;
        box-sizing: border-box;
        background-color: whitesmoke;
        height: 100px;
        resize: both;
        text-align: left;
        text-align: top;
    }

    textarea{
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    form {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }

    .btn {
        text-align: center;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
        background-color: #555;
        padding: 10px 16px;
    }
}

.left {
    background-color: #fddce2;
    width: 150px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 145px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
    padding-top: 10px;
}

.top_overlap{
    text-align: left center;
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 40px;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}