body{
    display: flex;
    flex-direction: column;
    background-color: #EDFBFC;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.header {
    background-color: #7BB1CC;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 40px;
    height: 60px;
    text-align: center;
}

.content {
    flex-grow: 1;
    padding-top: 150px;
}

.footer {
    background-color: #7BB1CC;
    width: 100%;
    bottom: 0;
}

.courseschedule {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 0.5fr 3fr;    
}

.coursegrading {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 3fr;  
}