<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    
    <body>
        <header class="header">
            <div class="dropdown">
                <button class="dropbutton">Menu</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('syllabus') }}">Syllabus</a>
                    <a href="{{ url_for('assignments') }}">Assignments</a>
                    <a href="{{ url_for('lab') }}">Labs</a>
                    <a href="{{ url_for('lecturenotes') }}">Lecture Notes</a>
                    <a href="{{ url_for('piazza') }}">Piazza</a>
                    <a href="{{ url_for('markus') }}" target="_blank" rel="noopener noreferrer">MarkUs</a> 
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('anonfeedback') }}">Anon Feedback</a>
                    {% endif %}
                    <a href="{{ url_for('courseteam') }}">Course Team</a>
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewstudentgrades') }}">View Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('updatestudentgrades') }}">Update Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewanonfeedback') }}">View Anonymous Feedback</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewremarkrequests') }}">View Remark Requests</a>
                    {% endif %}
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('studentgrades') }}">Student Grades</a>
                    {% endif %}
                </div>
            </div>
            <h1 class="headertext">CSCB20: Introduction to Databases and Web Applications</h1>
        </header>

    <main class = "content">

        <p><b>Please feel free to reach out to us via E-mail or leave anonymus feedback on the following form:</b></p>

        <form method="POST">
            <p>Select Professor:</p>
            <select name="professor" id="professor">
                {% for professor in professors %}
                    <option value="{{ professor.user_id }}">{{ professor.first_name }} {{ professor.last_name }}</option>
                {% endfor %}
            </select>

            <p>What do you like about the instructor’s teaching?</p>
            <textarea name="instruct_feed" class="instruct_feed" type="text" placeholder="Please enter your feedback here"></textarea>

            <p>What do you recommend the instructor to do to improve their teaching?</p>
            <textarea name="instruct_tips" class="instruct_tips" type="text" placeholder="Please enter your feedback here"></textarea>

            <p>What do you like about the labs?</p>
            <textarea name="lab_feed" class="lab_feed" type="text" placeholder="Please enter your feedback here"></textarea>

            <p>What do you recommend the lab instructors to do to improve their lab teaching?</p>
            <textarea name="lab_tips" class="lab_tips" type="text" placeholder="Please enter your feedback here"></textarea>

            <div class="btn-group">
                <input type="submit" class="btn" value="Submit">
            </div>

        </form>

        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                <h2>{{message}}</h2>
                {%endfor%}
                {%endif%}
                {%endwith%}

        <p>
            Contact: <br>
            cs.undergrad@utoronto.ca
        </p>

    </main>
        
    <footer class="footer">
            <div>
                <a class="link" href="https://www.utsc.utoronto.ca/cms/computer-science" target="_blank" rel="noopener noreferrer">Faculty of Computer Science at UofT</a>
            </div>
            <p>Site design by Deepti, Hanna, Siara</p>
    </footer>


</body>
</html>