<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    
    <body>
        <header class="header">
            <div class="dropdown">
                <button class="dropbutton">Menu</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('syllabus') }}">Syllabus</a>
                    <a href="{{ url_for('assignments') }}">Assignments</a>
                    <a href="{{ url_for('lab') }}">Labs</a>
                    <a href="{{ url_for('lecturenotes') }}">Lecture Notes</a>
                    <a href="{{ url_for('piazza') }}">Piazza</a>
                    <a href="{{ url_for('markus') }}" target="_blank" rel="noopener noreferrer">MarkUs</a> 
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('anonfeedback') }}">Anon Feedback</a>
                    {% endif %}
                    <a href="{{ url_for('courseteam') }}">Course Team</a>
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewstudentgrades') }}">View Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('updatestudentgrades') }}">Update Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewanonfeedback') }}">View Anonymous Feedback</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewremarkrequests') }}">View Remark Requests</a>
                    {% endif %}
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('studentgrades') }}">Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('createassessment') }}">Create Assessment</a>
                    {% endif %}
                </div>
            </div>
            <h1 class="headertext">CSCB20: Introduction to Databases and Web Applications</h1>
            <form method="POST" action="{{ url_for('logout') }}">
                <div class="logout">
                    <button type="submit" class = "dropbutton" name="logout"
                    style=" align-self:center; float:left;">Logout</button>
                </div>
            </form>
        </header>

        <main class="content">
            <h2>Update Student Grades</h2>
            <div style="padding: 5px 1px; margin: auto; text-align: center;" class="homeblurbs">
                <p>Here you can adjust student grades!</p>
            </div> <br>
            <form method='POST'> <!-- Move the form outside -->
                <div class="viewanonfeedbackgrid">
                    <div class="cellheader">Student ID</div>
                    <div class="cellheader">Student Name</div>
                    <div class="cellheader">Assignment Name</div>
                    <div class="cellheader">Current Mark</div>
                    <div class="cellheader">Update</div>
        
                    {% for assignment in assignments %}
                    <div class="cell">{{ assignment.user_id }}</div>
                    <div class="cell">{{ assignment.student_to_assess.first_name + " " +  assignment.student_to_assess.last_name}}</div>
                    <div class="cell">{{ assignment.assess_to_student.name }}</div>
                    <div class="cell">{{ assignment.marks }}</div>
                    <div class="cell">
                        <input type="number" name="reviewed_(assignment.user_id)_{assignment.assessment_id}" value="{{ assignment.marks }}" style="border-radius: 5px; width: 80px; color: #202E32;">
                    </div>
                    {% endfor %}
                </div>
                <div class="btn-group" style='padding-top: 20px'>
                    <button class="button" type="submit" style="padding: 5px">Submit</button>
                </div>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="flash-message">{{ messages[-1] }}</p>
            {% endif %}
            {% endwith %}

        </main>
        
        <footer class="footer">
                <div>
                    <a class="link" href="https://www.utsc.utoronto.ca/cms/computer-science" target="_blank" rel="noopener noreferrer">Faculty of Computer Science at UofT</a>
                </div>
                <p>Site design by Deepti, Hanna, Siara</p>
        </footer>

</body>
</html>