<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    
    <body>
        <header class="header">
            <div class="dropdown">
                <button class="dropbutton">Menu</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('syllabus') }}">Syllabus</a>
                    <a href="{{ url_for('assignments') }}">Assignments</a>
                    <a href="{{ url_for('lab') }}">Labs</a>
                    <a href="{{ url_for('lecturenotes') }}">Lecture Notes</a>
                    <a href="{{ url_for('piazza') }}">Piazza</a>
                    <a href="{{ url_for('markus') }}" target="_blank" rel="noopener noreferrer">MarkUs</a> 
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('anonfeedback') }}">Anon Feedback</a>
                    {% endif %}
                    <a href="{{ url_for('courseteam') }}">Course Team</a>
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewstudentgrades') }}">View Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('updatestudentgrades') }}">Update Student Grades</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewanonfeedback') }}">View Anonymous Feedback</a>
                    {% endif %}
                    {% if user.user_type == 1 %} 
                        <a href="{{ url_for('viewremarkrequests') }}">View Remark Requests</a>
                    {% endif %}
                    {% if user.user_type == 0 %} 
                        <a href="{{ url_for('studentgrades') }}">Student Grades</a>
                    {% endif %}
                </div>
            </div>
            <h1 class="headertext">CSCB20: Introduction to Databases and Web Applications</h1>
        </header>

        <main class="content">
            <form method='POST'> <!-- Move the form outside -->
                <div class="viewanonfeedbackgrid">
                    <div class="cellheader">Student name</div>
                    <div class="cellheader">Assignment name</div>
                    <div class="cellheader">Reason for the request</div>
                    <div class="cellheader">Current status</div>
        
                    {% for request in requests %}
                    <div class="cell">{{ feedback.feedback }}</div>
                    <div class="cell">
                        <input type="checkbox" name="reviewed_{{ feedback.id }}" {% if feedback.reviewed == 1%} checked {% endif %}>
                    </div>
                    <div class="cell">
                        <input type="checkbox" name="reviewed_{{ feedback.id }}" {% if feedback.reviewed == 1%} checked {% endif %}>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
        
        <footer class="footer">
                <div>
                    <a class="link" href="https://www.utsc.utoronto.ca/cms/computer-science" target="_blank" rel="noopener noreferrer">Faculty of Computer Science at UofT</a>
                </div>
                <p>Site design by Deepti, Hanna, Siara</p>
        </footer>

</body>
</html>