<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    
    <body>
        <header class="header">
            <div class="dropdown">
                <button class="dropbutton">Menu</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('syllabus') }}">Syllabus</a>
                    <a href="{{ url_for('assignments') }}">Assignments</a>
                    <a href="{{ url_for('lab') }}">Labs</a>
                    <a href="{{ url_for('lecturenotes') }}">Lecture Notes</a>
                    <a href="{{ url_for('piazza') }}">Piazza</a>
                    <a href="{{ url_for('markus') }}" target="_blank" rel="noopener noreferrer">MarkUs</a>
                    <a href="{{ url_for('anonfeedback') }}">Anon Feedback</a>
                    <a href="{{ url_for('courseteam') }}">Course Team</a>
                    <a href="{{ url_for('studentgrades') }}">Student Grades</a>
                </div>
            </div>
            <h1 class="headertext">CSCB20: Introduction to Databases and Web Applications</h1>
        </header>

    <main class="content">

        <div class="homeblurbs">
            <p>Here you will find all of your grades for the Assignments, the Midterm, the Labs/Tutorials, and the Final Exam. Please feel free to use the Piazza for feedback on grading and for answers.</p>
        </div>

        <h2>Student Marks</h2>

        <div class="tablecontainer">
            <div class="studentmarks">
                <div class="cellheader">Student ID</div>
                <div class="cellheader">Student Name</div>
                <div class="cellheader">Assignment</div>
                <div class="cellheader">Grade</div>
                {% if assignments %}
            {% for assignment in assignments %}
                <div class="row">
                    <div class="cell">{{ assignment.AssessmentsStudent.student_id }}</div>
                    <div class="cell">{{ assignment.AssessmentsStudent.student_id }}</div>
                    <div class="cell">{{ assignment.Assessment.name }}</div>
                    <div class="cell">{{ assignment.AssessmentsStudent.marks if assignment.AssessmentsStudent.marks is not none else 'Not Graded' }}</div>
                </div>
            {% endfor %}
            {% else %}
                <div class="row">
                    <div class="cell" colspan="2">No assessments available.</div>
                </div>
            {% endif %}
            </div>
        </div>
    </main>
    
    <footer class="footer">
            <div>
                <a class="link" href="https://www.utsc.utoronto.ca/cms/computer-science" target="_blank" rel="noopener noreferrer">Faculty of Computer Science at UofT</a>
            </div>
            <p>Site design by Deepti, Hanna, Siara</p>
    </footer>

</body>
</html>